/**
 * Main stylesheet for pomodoro timer
 * Author: Waqar Hocain
 * <waqarmaxtan@gmail.com>
 */
/* line 12, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/style.scss */
body {
  background-color: #fff;
  color: #8D959B;
  font: 1em "Open Sans", Arial, sans-serif;
  text-align: center;
}

/* line 27, ../scss/style.scss */
p {
  margin-bottom: 15px;
}

/* line 32, ../scss/style.scss */
a {
  color: #4B96F0;
  text-decoration: none;
  transition: all 0.3s;
}
/* line 38, ../scss/style.scss */
a:hover, a:focus {
  color: #8D959B;
  text-decoration: underline;
}

/* line 46, ../scss/style.scss */
button {
  background-color: #fff;
  border: 3px solid #4B96F0;
  border-radius: 3px;
  color: #4B96F0;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  padding: 10px 30px;
  transition: all 0.3s;
}
/* line 59, ../scss/style.scss */
button:hover, button:focus {
  color: #fff;
  background-color: #4B96F0;
}

/* line 71, ../scss/style.scss */
header h1 {
  margin: 30px 0 50px 0;
}

/* line 79, ../scss/style.scss */
#time {
  color: #404060;
  font-size: 88px;
  font-weight: bold;
  padding-bottom: 60px;
}

/* line 88, ../scss/style.scss */
#adjuster {
  max-width: 400px;
  margin: -20px auto 10px;
}
/* line 94, ../scss/style.scss */
#adjuster li {
  display: inline-block;
}
/* line 98, ../scss/style.scss */
#adjuster li a {
  font-size: 32px;
  transition: all 0.3s;
}
/* line 103, ../scss/style.scss */
#adjuster li a:hover, #adjuster li a:focus {
  transform: scale(1.4);
  text-decoration: none;
}

/* line 113, ../scss/style.scss */
#inc {
  float: left;
}

/* line 118, ../scss/style.scss */
#dec {
  float: right;
}

/* line 125, ../scss/style.scss */
#adjuster:after {
  content: "";
  display: table;
  clear: both;
}
