/**
 * Main stylesheet for pomodoro timer
 * Author: Waqar Hocain
 * <waqarmaxtan@gmail.com>
 */
/* line 12, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 19, ../scss/style.scss */
body {
  background-color: #f9f9f9;
  color: #404060;
  font: 1em "Open Sans", Arial, sans-serif;
  text-align: center;
}

/* line 27, ../scss/style.scss */
p {
  margin-bottom: 15px;
}

/* line 32, ../scss/style.scss */
a {
  color: #4B96F0;
  text-decoration: none;
  transition: all 0.3s;
}
/* line 38, ../scss/style.scss */
a:hover, a:focus {
  color: #8D959B;
  text-decoration: underline;
}

/* line 46, ../scss/style.scss */
button {
  background-color: #fff;
  border: 3px solid #4B96F0;
  border-radius: 3px;
  color: #4B96F0;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  padding: 10px 30px;
  transition: all 0.3s;
}
/* line 59, ../scss/style.scss */
button:hover, button:focus {
  color: #fff;
  background-color: #4B96F0;
}

/* line 69, ../scss/style.scss */
header {
  background-color: #fff;
}
/* line 73, ../scss/style.scss */
header h1 {
  color: #8D959B;
  padding: 30px 0 50px 0;
}

/* line 82, ../scss/style.scss */
#time {
  background-color: #fff;
  color: #404060;
  font-size: 88px;
  font-weight: bold;
  padding-bottom: 60px;
}

/* line 92, ../scss/style.scss */
#state {
  background-color: #eee;
  border-radius: 20px/45px;
  color: #404060;
  font-weight: bold;
  margin: -2% auto 0;
  max-width: 300px;
  padding: 10px 0;
  transition: all 0.3s;
}

/* line 105, ../scss/style.scss */
#details {
  margin: 10px 0;
  transition: all 0.8s;
}
/* line 110, ../scss/style.scss */
#details li {
  color: #8D959B;
  line-height: 1.4;
  font-weight: bold;
}

/* line 118, ../scss/style.scss */
.default_time {
  display: inline-block;
  margin-left: 25px;
}

/* line 124, ../scss/style.scss */
#detail_work,
#detail_brk {
  color: #404060;
}

/* line 132, ../scss/style.scss */
#start,
#reset {
  display: block;
  margin: 15px auto 0;
  width: 130px;
}

/* line 140, ../scss/style.scss */
#reset {
  border-color: #E96575;
  color: #E96575;
  opacity: 0;
  transition: all 0.8s;
  visibility: hidden;
}
/* line 148, ../scss/style.scss */
#reset:hover, #reset:focus {
  background-color: #E96575;
  color: #fff;
}
