/**
 * Main stylesheet for pomodoro timer
 * Author: Waqar Hocain
 * <waqarmaxtan@gmail.com>
 */

// import variables
@import "variables";


// Global Reset =====================
*
{
	margin: 0;
	padding: 0;
}

// Base Styles =====================
body
{
	background-color: $c-light;
	color: $c-dark;
	font: 1em $f-primary;
	text-align: center;
}

p
{
	margin-bottom: 15px;
}

a
{
	color: $c-blue;
	text-decoration: none;
	transition: all 0.3s;

	&:hover,
	&:focus
	{
		color: $c-gray;
		text-decoration: underline;
	}
}

button
{
	background-color: $c-white;
	border: 3px solid $c-blue;
	border-radius: 3px;
	color: $c-blue;
	cursor: pointer;
	font-size: 22px;
	font-weight: bold;
	outline: none;
	padding: 10px 30px;
	transition: all 0.3s;

	&:hover,
	&:focus
	{
		color: $c-white;
		background-color: $c-blue;
	}
}


// Header ==========================
header
{
	background-color: $c-white;

	h1
	{
		color: $c-gray;
		padding: 30px 0 50px 0;
	}
}


// timer ==========================
#time
{
	background-color: $c-white;
	color: $c-dark;
	font-size: 88px;
	font-weight: bold;
	padding-bottom: 60px;
}

// #state ==========================
#state
{
	background-color: $c-lgray;
	border-radius: 20px/45px;
	color: $c-dark;
	font-weight: bold;
	margin: -2% auto 0;
	max-width: 300px;
	padding: 10px 0;
	transition: all 0.3s;
}

// #details ==========================
#details
{
	margin: 10px 0;
	transition: all 0.8s;

	li
	{
		color: $c-gray;
		line-height: 1.4;
		font-weight: bold;
	}
}

.default_time
{
	display: inline-block;
	margin-left: 25px;
}

#detail_work,
#detail_brk
{
	color: $c-dark;
}


// buttons ==========================
#start,
#reset
{
	display: block;
	margin: 15px auto 0;
	width: 130px;
}

#reset 
{
	border-color: $c-red;
	color: $c-red;
	opacity: 0;
	transition: all 0.8s;
	visibility: hidden;

	&:hover,
	&:focus
	{
		background-color: $c-red;
		color: $c-white;
	}
}
// placeholders && base classes ==========================
%group:after
{
	content: "";
	display: table;
	clear: both;
}